REFUNDDESK_BACKUP_BUCKET=replace_with_private_lightsail_bucket_name
REFUNDDESK_BACKUP_AGE_RECIPIENT=age1replace_with_offline_public_recipient
REFUNDDESK_BACKUP_PREFIX=refunddesk-sandbox/postgres/
REFUNDDESK_BACKUP_RETENTION_COUNT=7
AWS_CONFIG_FILE=/etc/refunddesk/aws/config
AWS_REGION=eu-west-3
AWS_DEFAULT_REGION=eu-west-3
